.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding:10px 10px;
    width: 500px;
    background-color:#f0f8ff21 ;
    color: #fff;
    border-radius: 10px;
}